# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependências
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Arquivos de ambiente
!./env.example
.env
.env.local
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp

# Arquivos de build
/build
/dist
/coverage

# Arquivos de cache
.cache/
.npm/
.eslintcache
.stylelintcache

# Arquivos de teste
/__tests__/__snapshots__/
*.test.js.snap
*.test.js.map

# Arquivos de configuração local
*.local.js
*.local.json

# Arquivos de debug
*.debug.js
*.debug.json

# Arquivos de backup
*.bak
*.backup

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
